<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<div class="container">
  <h1 align="center">Order MS</h1>
  <nav class="navbar bg-light">
    <li>
      <a class="nav-link" class="btn" routerLink="AddItemToCart">AddItemToCart</a>
    </li>
    <li>
      <a class="nav-link" class="btn"  routerLink="app-delete-order-details">DeleteOrder</a>
    </li>
    <li>
      <a class="nav-link" class="btn"  routerLink="app-remove-from-cart-details">RemoveItemFromCart</a>
    </li>
    <li>
      <a class="nav-link" class="btn"  routerLink="GetOrderAndCartService">GetOrderAndCart</a>
    </li>
  </nav>
  </div>
  <router-outlet></router-outlet>